<%= partial :'partials/_banner' %>

<div class="container">

  <div class="row">
    <div class="span6">

      <ul class="thumbnails">
        <li>
          <a class="thumbnail" href="#"><img src="/img/web-signin-splash.jpg" width="550" height="350" /></a>
        </li>
      </ul>

    </div>
    <div class="span6 intro">

      <h2>What is IndieAuth?</h2>
      <p>IndieAuth is a way to <b>use your own domain name</b> to sign in to websites. It's like OpenID, but simpler! It works by linking your website to one or more authentication providers such as Twitter or Google, then entering your domain name in the login form on websites that support IndieAuth.</p>

      <hr />

      <h2>Why IndieAuth?</h2>
      <p>IndieAuth is part of the <a href="http://indiewebcamp.com/why">Indie Web movement</a> to take back control of your online identity. Instead of logging in to websites as "you on Twitter" or "you on Facebook", <b>you should be able to log in as just "you".</b> We should not be relying on Twitter or Facebook to provide our authenticated identities, we should be able to use our own domain names to log in to sites everywhere.</p>
      <p>IndieAuth was built to make it as easy as possible for users and for developers to start using this new way of signing in on the web, without the complexities of OpenID.</p>

<!--
      <hr />

      <h2>Is My Site Ready?</h2>
      <form class="well">
        <label>Web Address:</label>
        <input type="text" class="span3" placeholder="yourdomain.com">
        <p><button type="submit" class="btn">Sign In</button></p>
      </form>
 -->

    </div>
  </div><!-- row -->

  <br />

  <div class="section">
  <div class="row">
    <div class="span4">
      <h3>How to Set Up IndieAuth</h3>
      
      <ul class="thumbnails">
        <li>
          <a class="thumbnail" href="/setup">
            <img src="/img/code-sample.png" width="370" height="154" />
          </a>
        </li>
      </ul>
      <ul>
        <li>Add a link on your home page to your various social profiles with the attribute <a href="http://microformats.org/wiki/rel-me">rel="me"</a></li>
        <li>Ensure your profiles link back to your home page</li>
        <li>Enter your domain in a "<a href="http://microformats.org/wiki/web-sign-in">Web Sign-In</a>" box to being using your own domain as your online identity!</li>
      </ul>
      <a href="/setup">Full setup instructions</a>

    </div><!-- span4 -->
    <div class="span4">
      <h3>Try It!</h3>

      <form action="/auth" method="get" class="well">
        <label>Web Address:</label>
        <input type="text" name="me" class="span3" placeholder="yourdomain.com" />
        <p><button type="submit" class="btn">Sign In</button></p>
        <input type="hidden" name="redirect_uri" value="http://<%= request.host %>/success" />
      </form>

    </div><!-- span4 -->
    <div class="span4">
      <h3 id="community">Community</h3>

      <ul class="thumbnails">
        <li class="span1">
          <a class="thumbnail" href="http://indiewebcamp.com/Main_Page"><img src="/img/wiki-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://github.com/aaronpk/IndieAuth"><img src="/img/github-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://twitter.com/indiewebcamp"><img src="/img/twitter-button.png" width="114" height="114" /></a>
        </li>
      </ul>

      <h4>Join Us</h4>
      <ul>
        <li>Attend <a href="http://indiewebcamp.com/Main_Page">IndieWebCamp 2012</a> in Portland, Oregon<br />(June 30 to July 1, 2012)</li>
        <li>Add yourself to the <a href="http://indiewebcamp.com/Guest_List">IndieWebCamp 2012 Guest List</a> after signing in with your own domain</li>
        <li>Add your own IndieWeb projects to the <a href="http://indiewebcamp.com/Projects">Project List</a></li>
      </ul>

    </div><!-- span4 -->
  </div><!-- row -->
  </div><!-- section -->

  <div class="section">
  <div class="row">
    <div class="span12">
      <h2 id="supported-providers">Authentication providers currently supported by IndieAuth.com</h2>

      <ul class="thumbnails">
        <li><a href="https://twitter.com/settings/profile" class="thumbnail">
          <img src="/img/providers/twitter.png" alt="Twitter" width="57" height="57" />
        </a></li>
        <li><a href="https://plus.google.com/me/about/edit/d" class="thumbnail">
          <img src="/img/providers/google.png" alt="Google" width="57" height="57" />
        </a></li>
        <li><a href="https://github.com/settings/profile" class="thumbnail">
          <img src="/img/providers/github.png" alt="Github" width="57" height="57" />
        </a></li>
        <li><a href="http://www.flickr.com/profile_edit.gne" class="thumbnail">
          <img src="/img/providers/flickr.png" alt="Flickr" width="57" height="57" />
        </a></li>
        <li><a href="https://geoloqi.com/account/profile" class="thumbnail">
          <img src="/img/providers/geoloqi.png" alt="Geoloqi" width="57" height="57" />
        </a></li>
        <li><a href="https://foursquare.com/settings/" class="thumbnail" id="provider-foursquare">
          <img src="/img/providers/foursquare.png" alt="Foursquare" width="57" height="57" />
        </a></li>
        <li><a href="http://www.facebook.com" class="thumbnail" id="provider-facebook">
          <img src="/img/providers/facebook.png" alt="Facebook" width="57" height="57" />
        </a></li>
      </ul>
    </div>
  </div><!-- row -->
  </div><!-- section -->

  <div class="section">
    <%= partial :'partials/_documentation' %>
  </div><!-- section -->

  <div class="section">
  <div class="row">
    <div class="span8">
      <%= partial :'partials/_faq' %>
    </div><!-- span -->
  </div><!-- row -->
  </div><!-- section -->

  <div class="section">
  <div class="row">
    <div class="span8 post">
      <%= partial :'partials/_history' %>
    </div><!-- span12 -->
  </div><!-- row -->
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>

<script type="text/javascript">
$(function(){
  $("#provider-facebook").popover({
    title: "Why not Facebook?",
    content: "Facebook does not return sensible HTML for public profile pages. Facebook needs to change their public profile pages to return users' website addresses in a rel=\"me\" tag."
  });
  $("#provider-foursquare").popover({
    title: "Why not Foursquare?",
    content: "Foursquare does not provide the ability to link to your own web page from your profile."
  });
});
</script>
